body{
  text-align: center;
  margin: 30px 80px;
  padding: 0;
  color: #777777;
}

.box{
  width: 220px;
  height: 270px;
  box-shadow: 8px 10px 14px -8px #CECECE;
  float: left;
  text-align: center;
  background-color: #F4F1F1;
  padding-top: 30px;
  margin: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.box:hover{
  padding-top: 20px;
  /*color: white;*/
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: rgb(48, 222, 201);
  -webkit-transition: all .0.5s ease-in-out;
}

h2{
  font-family: "Ek Mukta", sans-serif;
}

h5{
  font-family: 'Exo', sans-serif;
  font-style: italic;
  color: #777777;
  font-size: 12px;
}

p{
  font-family: 'Exo', sans-serif;
  font-size: 13px;
  margin: 0px 10px;
}
